.profile-picture {
  width: 150px;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

nav ul li i {
  margin-right: 0.5rem;
}

nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}
