<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Internship Finder - Add New Job</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Internship Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Add New Job</h2>
        <form method="POST" action="/addnewjob" enctype="multipart/form-data">
            <div class="form-group">
                <label for="job_title" class="text-left">Job Title:</label>
                <input type="text" class="form-control" name="job_title" required>
            </div>

            <div class="form-group">
                <label for="location" class="text-left">Location:</label>
                <input type="text" class="form-control" name="location" required>
            </div>

            <div class="form-group">
                <label for="salary">Monthly Salary:</label>
                <input type="text" class="form-control" name="salary" required>
            </div>

            <div class="form-group">
                <label for="working_days (for month)">Working Days:</label>
                <input type="tel" class="form-control" name="working_days" required>
            </div>

            <div class="form-group">
                <label for="closing_date">Application Closing Date:</label>
                <input type="date" class="form-control" name="closing_date" required>
            </div>

            <div class="form-group">
                <label for="discription">Job Discription:</label>
                <textarea class="form-control" name="discription" rows="4" required
                    placeholder="Job Discription..."></textarea>
            </div>

            <div class="form-group">
                <label for="duties">Job Duties:</label>
                <textarea class="form-control" name="duties" rows="4" required placeholder="Job Duties..."></textarea>
            </div>

            <div class="form-group">
                <label for="requirments">Job Requirments:</label>
                <textarea class="form-control" name="requirments" rows="4" required
                    placeholder="Job Requirments..."></textarea>
            </div>

            <div class="form-group">
                <label for="skills">Required Skills:</label>
                <input type="text" class="form-control" name="skills" required
                    placeholder="Enter Required Skills (comma-separated)">
            </div>

            <!-- Center the "Sign Up" button -->
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Publish">
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and Font Awesome icons -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>