<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/user-register.css"
    />
    <title>Internship Finder - Sign Up</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}"
          >Internship Finder</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container mt-5">
      <h2>Sign Up</h2>
      <form
        method="POST"
        action="/company-signup"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name" class="text-left">Name:</label>
          <input type="text" class="form-control" name="name" required />
        </div>

        <div class="form-group">
          <label for="website" class="text-left">Website:</label>
          <input type="text" class="form-control" name="website" required />
        </div>

        <div class="form-group">
          <label for="hq">Headquarters location: </label>
          <input type="text" class="form-control" name="hq" required />
        </div>

        <div class="form-group">
          <label for="ceo">Name of the CEO: </label>
          <input type="text" class="form-control" name="ceo" required />
        </div>

        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" class="form-control" name="email" required />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
          />
        </div>

        <div class="form-group">
          <label for="founded">Founded:</label>
          <input
            type="text"
            class="form-control"
            name="founded"
            placeholder="Year founded ex.1998"
            required
          />
        </div>

        <div class="form-group">
          <label for="size">Number of empoyees:</label>
          <input
            type="text"
            class="form-control"
            name="size"
            required
            placeholder="Ex: 50-100"
          />
        </div>

        <div class="form-group">
          <label for="industry">Industry:</label>
          <input
            type="text"
            class="form-control"
            name="industry"
            required
            placeholder="Technology and Energy"
          />
        </div>

        <div class="form-group">
          <label for="company_type">Type of the enterprice:</label>
          <input
            type="text"
            class="form-control"
            name="company_type"
            required
            placeholder="private company or public company"
          />
        </div>

        <div class="form-group">
          <label for="profile_picture">Profile Picture:</label>
          <input
            type="file"
            class="form-control"
            name="profile_picture"
            accept="image/*"
            required
          />
        </div>

        <div class="form-group">
          <label for="description" class="text-left"
            >Company Description:</label
          >
          <textarea
            class="form-control"
            name="description"
            rows="4"
            required
            placeholder="Tell us abour about company..."
          ></textarea>
        </div>

        <!-- Center the "Sign Up" button -->
        <div class="text-center">
          <input type="submit" class="btn btn-primary" value="Sign Up" />
        </div>
      </form>
    </div>

    <!-- Bootstrap JS and Font Awesome icons -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
