{% extends 'company-profile.html' %} {% block companyContent %}

<div class="container applications">
  {% for application in applications %}
  <div class="card response-applications">
    <div class="response-applications-info">
      <div class="job-info">
        <p>{{application.title}}</p>
        <p>7 days ago</p>
      </div>
      <p class="response-applications-info-number">
        <span>{{application.num_of_app}}</span> Applications
      </p>
    </div>
    <div class="btn btn-blue-500">
      <a href="/view-applicants/{{application.job_id}}">View All</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
