{% extends 'company-profile.html' %} {% block companyContent %}

<div class="card-list container">
  {% for job in jobs %}
  <div class="card job-card">
    <div class="job-card-company">
      <div class="job-card-company-logo">
        <img
          src="{{ url_for('get_photo', photo_id=company.profile_picture_id) }}"
          alt="company-logo"
        />
        <p>{{company.name}}</p>
      </div>
      <time>5 days ago</time>
    </div>
    <h2>{{ job.tital }}</h2>
    <div class="job-card-info">
      <p><i class="fa-solid fa-location-dot"></i> {{ job.location }}</p>
      <p><i class="fa-solid fa-dollar-sign"></i> 3200/mo</p>
      <p>{{ job.type }}</p>
      <p>Posted by {{ company.name}}</p>
    </div>
    <div class="job-card-buttons">
      <div class="btn btn-blue-500">Edit</div>
      <div class="btn btn-gray-100">View Job</div>
      <div class="btn btn-red-500">Delete</div>
    </div>
  </div>
  {% endfor %}
  <!-- ---------------------- -->

  <!-- -------------- -->
</div>
{% endblock %}
